language: ruby
rvm:
  - 2.6.0
  - 2.5.0
  - 2.4.3
  - 2.3.6
  - 2.2.9
services:
  - redis-server
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - ondrej@bartas.cz
env:
  travis: 'yes'
matrix:
  allow_failures:
    - rvm: jruby-19mode
    - rvm: rbx-19mode
