language: ruby
rvm:
  - 2.6
  - 2.5
  - 2.4
  - 2.3
  - 2.2
services:
  - redis-server
branches:
  only:
    - master
notifications:
  email:
    recipients:
      - ondrej@bartas.cz
env:
  travis: 'yes'
